<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bw.movie">
 
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <application
        android:name=".app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/a"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/a"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuideActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.RegistActivity" />
        <activity android:name=".activity.ShowActivity" />
        <activity android:name=".activity.XiangActivity" />
        <activity android:name=".activity.MovieActivity" />
        <activity android:name=".activity.BuyActivity" />
        <activity android:name=".activity.MovieListActivity" />
        <activity android:name=".activity.TicketActivity" />
        <activity android:name=".activity.UserInfoActivity" />
        <activity android:name=".activity.PwdActivity" />
        <activity android:name=".activity.RecordListActivity" />
        <activity android:name=".activity.PageListActivity" />
        <activity android:name=".activity.RecordFeedBackActivity" />
        <activity android:name=".activity.SuccessActivity" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="net.sourceforge.simcpux"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
    </application>

</manifest>